<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Time Line</title>
    <style>
        * {
            font-family: Arial;
        }
        td {
            padding: 1px;
            padding-left: 3px;
            padding-right: 3px;
        }
        h2 {
            padding: 2px;
            padding-left: 5px;
            padding-right: 5px;
            background-color: rgba(42, 55, 79, 0.8);
            color: white;
        }

        .outer-table {
            width: 100%;
        }

        .outer-table tr {
            margin: 0px;
            padding: 0px;
        }

    </style>
</head>

<body>
    <table class="outer-table">
    <tbody>
        {% macro print_dict(data) %}
            {% for key, value in data.items() %}
            
                <!-- if the value is a dictionary -->
                {% if value is mapping %}
                    <tr>
                        {% if key == 'person_demographics' %}
                            <td>
                                <table class="table">
                                    {{ print_dict(value) }}
                                </table>
                            </td>
                        {% elif key == 'problem_list' %}
                            <td>
                                {{ print_dict(value) }}
                            </td>
                        {% else %}
                            <td style="background-color: rgba(42, 55, 79, 0.8); width: 15px; color: white;">{{ key }}: </td>                            
                            <td>
                                <table>
                                    {{ print_dict(value) }}
                                </table>
                            </td>
                        {% endif %}      
                    </tr>
    
                <!-- if the value is a list -->
                {% elif value is sequence %}
                    <!-- if the first piece value in the list is a dictionary -->
                    {% if value|length > 0 and value[0] is mapping %}
                        <tr>
                            <td>
                                <table class="table">
                                    {% for item in value %}
                                            {{ print_dict(item) }}
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td style="background-color: rgba(42, 55, 79, 0.6); width: 15px; color: white;">{{ key }}: </td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endif %}
                    
                {% else %}
                    <tr>
                        <td style="background-color: rgba(42, 55, 79, 0.6); width: 15px; color: white;">{{ key }} :</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endmacro %}
            
        {{ print_dict(data) }}
    </tbody>
    </table>

<!-- <body>
<table class="outer-table">
<tbody>
    {% macro print_dict(data) %}
        {% for key, value in data.items() %}
            {% if value is mapping %}
                <tr>
                    {% if key == 'person_demographics' or key == 'problem_list' %}
                        <td>
                            <table class="table">
                                {{ print_dict(value) }}
                            </table>
                        </td>
                    {% else %}
                        <td style="background-color: rgba(42, 55, 79, 0.8); width: 15px; color: white;">{{ key }}: </td>

                        <td>
                            <table>
                                {{ print_dict(value) }}
                            </table>
                        </td>
                    {% endif %}      
                </tr>

            {% elif value is sequence %}
                {% if value|length > 0 and value[0] is mapping %}
                    <tr>
                        <td>
                            <table class="table">
                                {% for item in value %}
                                    <tr>
                                        {{ print_dict(item) }}
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td style="background-color: rgba(42, 55, 79, 0.6); width: 15px; color: white;">{{ key }}:</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td style="background-color: rgba(42, 55, 79, 0.6); width: 15px; color: white;">{{ key }} :</td>
                    <td>{{ value }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endmacro %}
        
    {{ print_dict(data) }}
</tbody>
</table> -->

</body>
</html>