<!DOCTYPE html>
<html lang="en">
<head>
    <title>Patient Information</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>


<body>

{% macro inside_list(data) %}
<ul>
    {% for key, value in data.items() %}
        <li>{{ key }}: {{ value }}</li>
    {% endfor %}
</ul>
{% endmacro %}



<table class="table table-striped">
    <thead class="table-dark">
        <tr>
        <th scope="col" style="background-color: rgba(42, 55, 79, 0.8); width:15px;">Patient Information</th>
        <th scope="col" style="background-color: rgba(42, 55, 79, 0.8);"></th>
        </tr>
    </thead>
    <tbody>
        {% macro print_dict(data) %}
            {% for key, value in data.items() %}
                {% if value is mapping %}
                        {% if key == 'person_demographics' %}
                            {{ print_dict(value) }}
                        {% elif key == 'person_name' %}
                            <tr>
                                <td style="background-color: rgba(42, 55, 79, 0.45); color: white; width:15px;">Patient Name</td>
                                <td>{{ inside_list(value) }}</td>
                            </tr>
                        {% elif key == 'problem_list' %}
                            <table class="table table-striped">
                                <thead class="table-dark">
                                    <tr>
                                    <th scope="col" style="background-color: rgba(42, 55, 79, 0.8);">Problems</th>
                                    <th scope="col" style="background-color: rgba(42, 55, 79, 0.8);"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ print_dict(value) }}
                                </tbody>
                            </table>

                        {% else %}
                                {{ print_dict(value) }}
                        {% endif %}

                {% elif value is sequence %}
                        {% if value|length > 0 and value[0] is mapping %}

                            {% for item in value %}
                                    {{ print_dict(item) }}
                            {% endfor %}

                        {% else %}
                            <tr>
                                <td style="background-color: rgba(42, 55, 79, 0.45); color: white;  width:15px;">{{ key }}: </td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endif %}

                {% else %}

                    <tr>
                        <td style="background-color: rgba(42, 55, 79, 0.45); color: white;  width:15px;">{{ key }}: </td>
                        <td>{{ value }}</td>
                    </tr>

                {% endif %}

            {% endfor %}
                        
        {% endmacro %}
                            
        {{ print_dict(data) }}
       
    </tbody>
</table>

</body>
</html>