<!DOCTYPE html>
<html lang="en">
<head>
  <title>Story</title>
  <style>
    * {
        font-family: Arial;
    }
    
    body {
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    h1 {
        text-align: center;
        color: black
    }

    h3 {
        font-size: 21px;
    }
  </style>
</head>

<body>
    <h1>Story Title</h1>
    <br>
    <h2>Summary</h2>
    <p>{{ data.summary }}</p>
    <br>
    <h2>Rationale</h2>
    <p>{{ data.rationale }}</p>
    <br>
    <h2>Story</h2>
    <p>{{ data.story }}</p>
</body>
</html>